.HeroSection {
  height: 90vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.HeroSection h1 {
  font-size: 160px;
  line-height: 18px;
}

.toit {
}

.beer {
  font-size: 15vmin;
  position: absolute;
  top: 260px;
}

.border {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.wave {
  color: white;
  animation: wave 3s ease-in-out infinite;
}

.scroll-down {
  font-size: 12px;
  margin-bottom: 50px;
}

.arrow {
  margin-top: auto;
}

@keyframes wave {
  0%,
  100% {
    clip-path: polygon(
      0% 47%,
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
